/*=========================================
            GOOGLE FONT
=========================================*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');
/*=========================================
            BODY
=========================================*/
body{
    margin:0;
    font-family:'Poppins',sans-serif;
    
    color:#4b164c;
    overflow-x:hidden;
}
/*=========================================
            FUNDO
=========================================*/
body::before{
    content:"";
    position:fixed;
    inset:0;
    
    animation:fundo 18s linear infinite;
    pointer-events:none;
}
@keyframes fundo{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-120px);
    }
}
/*=========================================
            TITULO
=========================================*/
h1{
    font-family:'Fredoka',sans-serif;
    text-align:center;
    font-size:60px;
    margin-top:40px;
    color:#ff3b9a;
    text-shadow:
    0 0 20px rgba(255,90,180,.5);
}
/*=========================================
            SUBTITULO
=========================================*/
.subtitulo{
    text-align:center;
    color:#7b5b73;
    font-size:18px;
    margin-bottom:50px;
}
/*=========================================
            GRID
=========================================*/
#filmes{
    width:92%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:35px;
    padding-bottom:80px;
}
/*=========================================
            CARD
=========================================*/
.card{
    background:rgba(255,255,255,.45);
    backdrop-filter:blur(15px);
    border:2px solid rgba(255,255,255,.6);
    border-radius:30px;
    overflow:hidden;
    transition:.45s;
    box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.073);
}
.card:hover{
    transform:
    translateY(-12px)
    scale(1.03);
}
/*=========================================
            POSTER
=========================================*/
.poster{
    position:relative;
    overflow:hidden;
}
.poster img{
    width:100%;
    height:340px;
    object-fit:cover;
    transition:.45s;
}
.card:hover img{
    transform:scale(1.08);
}
/*=========================================
            OVERLAY
=========================================*/
.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
    rgba(255,50,160,.15),
    rgba(255,50,160,.75));
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:.4s;
}
.card:hover .overlay{
    opacity:1;
}
/*=========================================
            BOTÃO
=========================================*/
.overlay button{
    background:white;
    color:#ff2f91;
    border:none;
    padding:14px 30px;
    border-radius:50px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
    font-size:16px;
}
.overlay button:hover{
    transform:scale(1.1);
    background:#ff2f91;
    color:white;
}
/*=========================================
            INFO
=========================================*/
.info{
    padding:22px;
}
.info h2{
    margin:0;
    font-size:20px;
    color:#ff2f91;

    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}
.info p{
    color:#7d5d76;
    margin-top:8px;
}
/*=========================================
            BRILHO
=========================================*/
.card::before{
    content:"";
    position:absolute;
    top:-120%;
    left:-40%;
    width:80px;
    height:300%;
    background:
    rgba(255,255,255,.5);
    transform:rotate(25deg);
    transition:.8s;
}
.card:hover::before{
    left:140%;
}
/*=========================================
            RESPONSIVO
=========================================*/
@media(max-width:768px){
    h1{
        font-size:42px;
    }
    .poster img{
        height:270px;
    }
    #filmes{
        gap:20px;
    }
}
.badge{
    position:absolute;
    top:12px;
    left:12px;
    background:#00c853;
    color:white;
    padding:6px 12px;
    border-radius:50px;
    font-size:12px;
    font-weight:bold;
    z-index:10;
    box-shadow:0 5px 15px rgba(0,0,0,.25);
}









.btn-assistir{
    width:100%;
    height:48px;
    margin-top:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    background:linear-gradient(135deg,#ff82c8,#ff3c98);
    color:#fff;
    text-decoration:none;
    border-radius:14px;
    font-size:16px;
    font-weight:700;
    transition:.35s;

}

.btn-assistir:hover{
    transform:translateY(-4px);
    background:linear-gradient(135deg,#ff99d4,#ff5baa);
}

.btn-assistir svg{
    transition:.3s;
}

.btn-assistir:hover svg{
    transform:scale(1.2);
}